<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitchen</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="../jquery/registration.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12 logimg"></div>
        <div class="col-md-6 col-sm-12 ml-md-5">
          <div class="signUp form-sign">
            <div class="container">
              <h3 class="text-center">Essies Kitchen</h3>
              <h4 class="mt-5">Sign Up</h4>
              <form action="/signUP" method="POST" class="form mt-mb-5 mt-sm-4">
                <div class="form-group">
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="User Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    id="E-mail"
                    placeholder="E-mail"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    name="cpassword"
                    id="cpassword"
                    placeholder=" Confirm Password"
                  />
                </div>
                =

                <div class="buttonH">
                  <button class="btn btn-danger active mg-b-10">
                    Create Profile
                  </button>
                </div>
                <div class="buttonG">
                  <a class="btn btn-outline-dark" href="/oauth">
                    <img src="/images/Gicon.png" alt="" height="22px" />Sign in
                    with Google
                  </a>
                </div>
              </form>
              <p class="text-muted text-center mt-4">
                already have an account, <a href="#" id="login">Login?</a>
              </p>
            </div>
          </div>
          <div class="form-log hide">
            <div class="container">
              <h3 class="text-center">Essies Kitchen</h3>
              <h4 class="mt-5">Login</h4>
              <form action="/signUP" method="POST" class="form mt-mb-5 mt-sm-4">
                <div class="form-group">
                  <input type="text" name="username" placeholder="User Name" />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    placeholder="Password"
                  />
                </div>

                <div class="buttonH">
                  <button class="btn btn-danger active mg-b-10">
                    Create Profile
                  </button>
                </div>
                <div class="buttonG">
                  <a class="btn btn-outline-dark" href="/oauth">
                    <img src="/images/Gicon.png" alt="" height="22px" /> login
                    with Google &nbsp;
                  </a>
                </div>
              </form>
              <p class="text-muted text-center mt-4">
                Dont have an account, <a href="#" id="Sign">Sign Up?</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
