@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');


.red{
    background-color: #d80e0e;
  
}
body{
    background-color: #EEEEEE;
}

.landing{
    background-color: #F74140;
    height: 100vh;
    
}

.space-me{
    margin-top: 20vh;
}
.bg{
    padding: 0%;
}

.landtxt{
    color: seashell;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
}

.search-box{
    border-radius: 20px;
    border:2px solid rgba(255,255,255,.5);
    width: 20vh;
    background: none;
    outline: none;
    margin-left: auto;
}

.label h3{
    display: inline;
}
.label span{
    float: right;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: red !important;
    border: none;   
}
.title{
    font-family: 'Caveat', cursive; 

}

input{
    color: lavenderblush;
    padding-left: 5px;
}
::-webkit-input-placeholder{
    padding-left: 5px;
    color: lavenderblush;
}

/* font-family: 'Caveat', cursive;
font-family: 'Open Sans Condensed', sans-serif; */
