@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');


.logimg{
    background-image: url("/images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.form{
    text-align: center;
}

form input{
    border: none;
    border-bottom: 1px solid red;
    background: none;
    width: 100%;
    outline: none;
    padding: 2px
    
}
form.checkbox input{
    position: absolute;
    margin-right: 100px;
    
    
}
.buttonH{
    margin-bottom: 10px;
}




.title{
    font-family: 'Open Sans Condensed', sans-serif;
    kerning: 5px;
    font-size: 40px;
    font-weight: bold;

}
.heading{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
@media(max-width:600px){
    .logimg{
        height: 30vh; 
        
    }
} 
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: red !important;
    border: none;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
    
    
}
.hide{
    display: none;
}

.pads{
   padding-left:68px;
   padding-right:68px;
}